<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Book Info</title>
</head>

<body>
	<p>
		<span th:text="${bookInfo}">BookInfoList</span>
	</p>

	<form th:action="@{/searchBookInfo}" method="get">
		<input type="text" name="searchId">
		<button type="submit">検索</button>
	</form>
	<table>
		<tr th:each="data : ${bookInfoList}">
			<td th:text="${data.id}"></td>
			<td th:text="${data.title}"></td>
			<td th:text="${data.author}"></td>
			<td th:text="${data.genre}"></td>
			<td th:text="${data.publicationDate}"></td>
			<td><a th:href="@{/editBookInfo/{id}(id=${data.id})}" class="btn btn-secondary" name="edit">編集</a></td>
			<td><a th:href="@{/delBookInfo/{id}(id=${data.id})}" class="btn btn-secondary" name="del">削除</a></td>
		</tr>
	</table>

	<br></br>
	<form th:action="@{/goBackToBookInfo}" method="get">
		<button type="submit" name="return">戻る</button>
	</form>
	<br></br>
	
	<a th:href="@{/addBookInfo}">新規登録</a>

</body>

</html>